* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
iframe {
  border: 2px solid red;
  padding: 0px 40px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 10px solid green;
}
